<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="org.eu.thedoc.zettelnotes.permission.broadcast" />
    <uses-permission android:name="org.eu.thedoc.zettelnotes.debug.permission.broadcast" />

    <application
       android:allowBackup="true"
       android:icon="@mipmap/ic_launcher"
       android:label="@string/app_name"
       android:roundIcon="@mipmap/ic_launcher_round"
       android:supportsRtl="true"
       android:theme="@style/AppTheme">

        <activity
           android:name=".screens.MainActivity"
           android:exported="true">
            <intent-filter>
                <action android:name="org.eu.thedoc.zettelnotes.intent.scan" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.eu.thedoc.zettelnotes.intent.buttons" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.INFO" />
            </intent-filter>
        </activity>

        <activity
           android:name=".screens.DateTimeActivity"
           android:label="Date Time"
           android:exported="true"
           android:theme="@style/AppThemeTransparent">

            <intent-filter>
                <action android:name="org.eu.thedoc.zettelnotes.intent.buttons.alarm" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service
           android:name=".screens.DatabaseService"
           android:exported="true">
            <intent-filter>
                <action android:name="org.eu.thedoc.zettelnotes.plugins.alarm.SCAN" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.eu.thedoc.zettelnotes.plugins.alarm.DELETE_URIS" />
            </intent-filter>
        </service>

        <receiver
           android:name=".screens.AlarmReceiver"
           android:exported="false" />

    </application>

</manifest>