<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
   xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CAMERA" />

    <application
       android:allowBackup="true"
       android:icon="@mipmap/ic_launcher"
       android:label="@string/app_name"
       android:roundIcon="@mipmap/ic_launcher_round"
       android:supportsRtl="true"
       android:theme="@style/AppTheme">

        <activity
           android:name=".ScanActivity"
           android:exported="true">
            <intent-filter>
                <action android:name="org.eu.thedoc.zettelnotes.intent.buttons.barcode.scan" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.eu.thedoc.zettelnotes.intent.buttons" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
           android:name=".GenerateActivity"
           android:exported="true">
            <intent-filter>
                <action android:name="org.eu.thedoc.zettelnotes.intent.buttons.barcode.generate" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
           android:name=".CaptureActivityPortrait"
           android:screenOrientation="fullSensor"
           android:theme="@style/zxing_CaptureTheme"
           android:windowSoftInputMode="stateAlwaysHidden"
           tools:replace="screenOrientation" />

        <provider
           android:name="androidx.core.content.FileProvider"
           android:authorities="org.eu.thedoc.zettelnotes.buttons.barcode.fileprovider"
           android:exported="false"
           android:grantUriPermissions="true">
            <meta-data
               android:name="android.support.FILE_PROVIDER_PATHS"
               android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>